@media all {
  .status {
    display: none;
  }

  .content button {
    display: inline-block;
    cursor: pointer;
    color: #202020;
    font-family: Courier;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 7px 17px;
    /* border-radius: 5px; */
  }

  .content .half {
    width: 48%;
    float: left;
  }

  .content button:disabled {
    cursor: pointer;
    color: #888888;
    font-family: Courier;
    /* border-radius: 5px; */
  }

  .content textarea:focus {
      /*Don't show ugly blue border on iOS*/
    outline: none !important;
  }

}

@media only screen and (min-device-width: 800px) {
  .header {
    background-image: url("../img/sky_tile_tall.gif");
    background-repeat: repeat-x;
    height: 310px;
    width: 100%;
  }

  h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    font-size: 4em;
    font-family: "Courier New", Courier, monospace;
  }

  .logo_contrainer {
    height: 310px;
    width: 627px;
    margin: auto;
    display: block;
  }

  .content {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .content textarea {
    /* border-color: black; */
    border: #878787 1px;
    /* border-block-style: none; */
    width: 100%;
    border-radius: 5px;
    border-style: dashed;
    min-height: 200px;
    font-size: medium;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    /* border: none; */
    resize: none;
    color: orange;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) /*and (-webkit-device-pixel-ratio: 3) */ {
  /* Hier dein CSS einifügen */

  body {
    background-color: #000000;

    /* min-height: 100vh; */
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }

  html {
    /* height: -webkit-fill-available; */
  }

  .header {
    display: none;
  }

  .content {
    height: 100vh;
    min-height: 500px;
  }

  .content textarea {
    /* border-color: black; */
    /*      border: #878787 1px; */
    /* border-block-style: none; */
    width: 100%;
    height: 95%;
    /*margin: 10%;*/
    border-radius: 5px;
    border-style: dashed;
    /*min-height: 200px;*/
    font-size: medium;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    /* border: none; */
    resize: none;
    color: orange;
  }

  .logo_contrainer {
    width: 100%;
    height: 50px;
    margin: auto;
    display: block;
    display: none;
  }

  .content button {
    display: inline-block;
    cursor: pointer;
    color: #202020;
    font-family: Courier;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 7px 17px;
    /* border-radius: 5px; */
  }

  .content .half {
    width: 48%;
    float: left;
  }

  .content button:disabled {
    cursor: pointer;
    color: #888888;
    font-family: Courier;
    /* border-radius: 5px; */
  }
}

@media screen and (orientation: landscape) {
  body {
    background: black;
  }

  .content {
    height: 100vh;
    min-height: 500px;
  }

  .content textarea {
    /* border-color: black; */
    /*      border: #878787 1px; */
    /* border-block-style: none; */
    width: 100%;
    max-height: 100%;
    height: 95vh;
    /*margin: 10%;*/
    border-radius: 5px;
    border-style: dashed;
    /*min-height: 200px;*/
    font-size: medium;
    padding: 10px;
    /* border: none; */
    resize: none;
    color: orange;
  }
}
