.header{
    background-image:  url("img/sky_tile_tall.gif");
    background-repeat: repeat-x;
    height: 310px;
    width: 100%;
}


.logo_contrainer{
    height:310px;
    width: 627px;
    margin: auto;
    display: block;
}

.content{
    width:100%;
    max-width:500px;
    margin:auto;
}

.content textarea{

        /* border-color: black; */
        border: #878787 1px;
        /* border-block-style: none; */
        width: 100%;
        border-radius: 5px;
        border-style: dashed;
        min-height: 200px;
        font-size: medium;
        padding: 10px;
        background-color: rgba(0,0,0,0.05);
        /* border: none; */
        resize: none;
    }


.content button{
    display: inline-block;
    cursor: pointer;
    color: #202020;
    font-family: Courier;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 7px 17px;
    /* border-radius: 5px; */
    
}

.content .half{
    width: 48%;
    float: left;
}

.content button:disabled{
    cursor: pointer;
    color: #888888;
    font-family: Courier;
    /* border-radius: 5px; */
    
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { /* Hier dein CSS einifügen */

    body {
        background-color: #202020;
    }

    .header{
        height: 310px;
        width: 100%;
        background-color: #202020;
    }


    .content textarea{

        /* border-color: black; */
        border: #878787 1px;
        /* border-block-style: none; */
        width: 100%;
        border-radius: 5px;
        border-style: dashed;
        min-height: 200px;
        font-size: medium;
        padding: 10px;
        background-color: rgba(0,0,0,0.05);
        /* border: none; */
        resize: none;
    }

    .logo_contrainer{
        height:310px;
        width: 100%;
        margin: auto;
        display: block;
    }

}